@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $Lightgrayishcyan1;
  padding: 0; //css reset
  margin: 0;
}

.container {
  background-color: $White;
  @include wheight(700px, 366px);
  position: relative;
  margin-right: auto; //centers the container
  margin-left: auto;
  top: 190px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;

  .left-side {
    width: 50%;
  }

  .right-side {
    width: 50%;
  }
}

//end of whole container

.heading {
  @include position;
  font-family: $font-family;
}

.input_right {
  position: relative;
}

.btn {
  @include position;
  border-radius: 5px;
  @include wheight(90px, 35px);

  border: none;
  background-color: $Verydarkcyan;
  color: $White;
  font-family: $font-family;
  font-size: $font-size-small;
}

.btn:hover {
  background-color: $Lightgrayishcyan1;
  color: $Darkgrayishcyan1;
}

.sep {
  background-color: $Strongcyan;
  color: black;
}

.custom {
  background-color: $Lightgrayishcyan2;
  color: $Verydarkcyan;
}

.input_right {
  @include position;
  @include wheight(286px, 33px);
  background-color: $Lightgrayishcyan2;
  border-radius: 10px;
  font-size: $font-size-large;
  font-family: $font-family;
  border: $border;
}
//end of left-side of container

.right-side {
  background-color: $Verydarkcyan;
  @include wheight(317px, 317px);
  position: relative;
  top: 30px;
  right: 20px;
  border-radius: 10px;

  .headings_right {
    @include position;
    color: $White;
    font-family: $font-family;
    font-size: 0.87rem;
    top: 50px;
    line-height: 60px;
  }
}

.reset {
  position: absolute;
  top: 80%; //center the button to in parent
  left: 10%;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: $Strongcyan;
  border: $border;
  font-size: $font-size-small;
  font-weight: bold;
}

.reset:hover {
  background-color: $Lightgrayishcyan1;
  color: $Verydarkcyan;
}

.tip_amount_per_person {
  position: relative;
  bottom: 105px;
  font-size: $font-size-largest;
  left: 200px;
  color: $Strongcyan;
  font-family: $font-family;
}

.total_amount_per_person {
  position: relative;
  bottom: 100px;
  font-size: $font-size-largest;
  left: 200px;
  color: $Strongcyan;
  font-family: $font-family;
}

//end of right-side of container

h1 {
  text-align: center;
  font-family: $font-family;
  position: relative;
  top: 100px;
}

//end of title
