html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $Lightgrayishcyan1;
  padding: 0; //css reset
  margin: 0;
}

.container {
  background-color: $White;

  width: 700px;
  position: relative;
  margin-right: auto; //centers the container
  margin-left: auto;
  top: 190px;
  display: flex;
  height: 366px;
  overflow: hidden;
  border-radius: 20px;

  .left-side {
    width: 50%;
  }

  .right-side {
    width: 50%;
  }
}

.heading {
  @include position;
}

.input_right {
  position: relative;
}

.btn {
  @include position;
}

.input_right {
  @include position;
  height: 33px;
  width: 286px;
  background-color: $Lightgrayishcyan2;
  border-radius: 5px;
}
